* {
    font-family: "poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

header {
    background-color: #000000;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}

.logo {
    text-decoration: none;
    color: #03e2ff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.navigation a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding: 15px 30px;
    margin: 0;
}

.navigation {
    display: flex;
    align-items: center
}

.navigation a:hover {
    color: #03e2ff;
}

section {
    padding: 100px 200px;
    background-color: #111111;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: #000000;
    background-size: cover;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #f0f0f0;
}

.main h2 {
    font-size: 1.5em;
}

.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: #03e2ff;
    font-size: 1.8em;
    font-weight: 600;
}

.main h3 {
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn {
    color: #f0f0f0;
    background-color: #006c7a;
    text-decoration: none;
    font-size: 1.15em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.6s ease;
}

.main-btn:hover {
    background-color: #03e2ff;
    color: rgb(16, 16, 16);
    transform: scale(1.1);
}

.social-icons a {
    color: #f0f0f0;
    font-size: 2em;
    padding-right: 60px;
}

.title {
    display: flex;
    justify-content: center;
    color: #03e2ff;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    width: 75%;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 0.15);
    margin: 15px;
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
    transition: 0.6s ease;
}

.card:hover {
    transform: scale(1.1);
}

.icon {
    color: #006c7a;
    font-size: 8em;
    text-align: center;
}

.info {
    text-align: center;
}

.info h3 {
    color: #03e2ff;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.projects {
    background-color: #111111;
}

.projects .content {
    margin-top: 30px;
}

.projects-card {
    background-color: #f0f0f0;
    border: 1.5px solid white;
    min-height: 14em;
    width: 18em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.6s ease;
}

.projects-card:hover {
    transform: scale(1.1);
}

.projects-card:hover .projects-img {
    opacity: 0.9;
}

.projects-img img {
    width: 100%;
}

.project-info {
    padding: 1em;
}

.project-category {
    font-size: 0.9em;
    color: #006c7a;

}

.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.more-details {

    text-decoration: none;
    color: #006c7a;
}

.more-details:hover {
    color: #03e2ff;
}

.content .icon {
    font-size: 4.5em;
}

.content .info h3 {
    color: #000000;

}

.content .info p {
    font-size: 1.6em;
}

.footer {
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

.footer p {
    color: #f0f0f0;
}

.footer p span {
    color: #03e2ff;
}

@media (max-width:1023px) {
    header {
        padding: 12px 20px;
    }

    .navigation a {
        padding: 7px 5px
    }

    .title {
        font-size: 1.6em;
    }

    section {
        padding: 20px 13px;
    }

    .main h2 {
        font-size: 1em;
    }

    .main h3 {
        font-size: 1.4em;
    }

    .main-btn {
        font-size: 0.9em;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }

    .social-icons a {
        padding-right: 25px;
    }

}


@media (max-width:575px) {
    header {
        padding: 0px 5px;
        margin: 0px;
    }

.navigation a {
    padding: 0;
    font-size: 0.5em;
    margin: 0px 6px;
}

.selected-lang {
    font-size: 0.5em;
}

.logo {
    font-size: 0.7em;
    padding: 0;
}

.content .info p {
    font-size: 0.8em;

}

.card:hover {
    transform:none;
}

.projects-card:hover {
    transform: none;
}


.main h2 span {
    font-size: 1.3em;
}

.main h2 {
    font-size: 0.7em;
}

.main h3 {
    font-size: 1.1em;
}

.main-btn {
    font-size: 0.6em;
}

.social-icons a {
    
    font-size: 1.5em;
    
}

.main-btn:hover {
    transform:none;
}


}

@media (max-width:350px) {

.projects-card {
    border: none
    min-height: 10em;
    width: 13em;
    font-size: 0.7em;
}
.main h2 span {
    font-size: 1.2em;
}

.main h2 {
    font-size: 0.5em;
}

.main h3 {
    font-size: 0.7em;
}

.info h3 {
   
    font-size: 0.8em;
    font-weight: 700;
    margin: 2px;
}

.main-btn {
    font-size: 0.5em;
}

.social-icons a {
    
    font-size: 1.2em;
    
}

}



@media (max-width: 100%) {
    body {
        font-size: 12px;
    }

    .main h2 {
        font-size: 0.8em;
    }

    .main h3 {
        font-size: 1.3em;
    }
}

@media (max-width:90%) {
    body {
        font-size: 10px;
    }
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="email"] {
    width: 65%;
}

textarea {
    height: 150px;
    width: 100%;
    resize: vertical;
    font-size: 16px;
}

#submit {
    background-color: green;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
}

#reset {
    background-color: red;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 35%;
}

.lang-menu {
    position: relative;
    display: inline-block;
}



.selected-lang {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin: 15px;
    color: #f8f8f8;
    line-height: 1.1em;
}


.selected-lang:before {
    content: "";
    display: block;
    width: 32px;
    height: 32px;

    background-size: cover;
    margin-right: 10px;
}

.lang-menu ul {
    margin: 0;
    padding: 0;
    background-color: #000000;
    border: 1px dotted #f8f8f8;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 140px;
    z-index: 1000;
    list-style-type: none;
}

.lang-menu:hover ul {
    display: block;
}

.lang-menu ul li {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.lang-menu ul li a {
    width: 140px;
    display: block;
    padding: 5px 10px;
    color: #f8f8f8;
    text-decoration: none;
}

.lang-menu ul li a:before {
    content: "";
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: cover;
    margin-right: 10px;
}

.lang-menu ul li a:hover {
    background-color: #03e2ff;
    color: #000000;
}


.lang-menu ul li a#fr:before {
    background-image: url("https://flagsapi.com/FR/flat/32.png");
}

.lang-menu ul li a#sv:before {
    background-image: url("https://flagsapi.com/SE/flat/32.png");
}

.lang-menu ul li a#ar:before {
    background-image: url("https://flagsapi.com/SA/flat/32.png");
}

.lang-menu ul li a#en:before {
    background-image: url("https://flagsapi.com/IE/flat/32.png");
}

.lang-menu ul li a#es:before {
    background-image: url("https://flagsapi.com/ES/flat/32.png");
}
