* {
    font-family: "poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

header {
    background-color: #000000;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}

.logo {
    text-decoration: none;
    color: #03e2ff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.navigation a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
    margin: 15px;
}

.navigation a:hover {
    color: #03e2ff;
}

section {
    padding: 100px 200px;
    background-color: #111111;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/wp8778419-dark-code-wallpapers.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #f0f0f0;
}

.main h2 {
    font-size: 1.5em;
}

.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: #03e2ff;
    font-size: 1.8em;
    font-weight: 600;
}

.main h3 {
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn {
    color: #f0f0f0;
    background-color: #006c7a;
    text-decoration: none;
    font-size: 1.15em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.6s ease;
}

.main-btn:hover {
    background-color: #03e2ff;
    color: rgb(16, 16, 16);
    transform: scale(1.1);
}

.social-icons a {
    color: #f0f0f0;
    font-size: 2em;
    padding-right: 60px;
}

.title {
    display: flex;
    justify-content: center;
    color: #03e2ff;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 0.15);
    margin: 15px;
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.6s ease;
}

.card:hover {
    transform: scale(1.1);
}

.icon {
    color: #006c7a;
    font-size: 8em;
    text-align: center;
}

.info {
    text-align: center;
}

.info h3 {
    color: #03e2ff;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}